@using MoviesDB.Web.ViewModels
@model MovieViewModel


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Edit Movie</h4>
</div>
@using (Html.BeginForm())
{
    <div class="modal-body">
        @Html.LabelFor(x => x.Title)
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })

        <div>
            @Html.ValidationMessageFor(x => x.Title)
        </div>

        @Html.LabelFor(x => x.Director)
        @Html.TextBoxFor(x => x.Director, new { @class = "form-control" })

        <div>
            @Html.ValidationMessageFor(x => x.Director)
        </div>

        @Html.LabelFor(x => x.ReleaseDate)
        @Html.EditorFor(x => x.ReleaseDate, new { @class = "form-control" })

        <div>
            @Html.ValidationMessageFor(x => x.ReleaseDate)
        </div>

        @Html.TextBoxFor(x => x.Id, new { hidden = "hidden" })
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-default add-movie" data-action="edit">Save</button>
    </div>
}

<script>
    $.validator.unobtrusive.parse($("form"));
</script>

