@{
    ViewBag.Title = "MoviesDB";
}

@section styles {
    @Styles.Render("~/Content/gridmvc-styles")    
    @Styles.Render("~/Content/jquery-ui")    
}

@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}

<h1>Movies List</h1>

@Html.Action("GetGrid")

<button class="btn btn-info add-movie-button">Add New</button>
<button class="btn btn-info export-button pull-right">Export to file</button>

<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/gridmvc")
    @Scripts.Render("~/bundles/movies")
}